<!-- Archivo: src/views/users.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    {{#if isAdmin}}
<ul>
  {{#each message}}
    <hr>
    <li>{{this.first_name}}</li>
    <li>{{this.last_name}}</li>
    <li>{{this.email}}</li>
    <li> <img src="{{this.thumbnail}}" alt="" height="100px"> </li>
  {{/each}}
</ul>
    {{else}}
        <div>Usuario no autorizado</div>
    {{/if}}
    </div>
    <script src="/js/main.js"></script>
</body>
</html>
